.contentContainer{
    width: 100%;
    height: 500px;
    text-align: center;
    /* background-color: rgba(139, 0, 0, 0.4); */

}

.centerContainer{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left:150px;
    margin-right:150px;
 
}

.my-custom-row{
    /* background-color: bisque;
    height: 100px; */
    margin-top:54px;
    margin-bottom:25px;
}

.adminText{
    font-family: 'Inter';
    /* font-style: italic; */
    font-style: oblique;
    font-weight: lighter;
    font-size: 36px;
    line-height: 44px;

    color: #DDA15E;
    /* font-variation-settings: 'slnt' -5; */

    text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
}

.box{
    border: 1px solid black;
    width: 220px;
    height: 295px;

    border: 1px solid #000000;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    
    border-radius: 10px;

    
}

.box:hover{
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.box-description{
    margin-top:17px;
}

.SVGicons{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    color:black;
    width:100%;
}

.Iicons{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    color:black;
    font-size: 8.5625em;
}