.content{
    margin-left: 13px;
    margin-right: 13px;
}

.my-custom-row{
    /* background-color: bisque;
    height: 100px; */
    margin-top:54px;
    margin-bottom:25px;
}

.view-gym-members{
    font-family: 'Inter';
    /* font-style: italic; */
    font-style: oblique;
    font-weight: lighter;
    font-size: 36px;
    line-height: 44px;

    color: #DDA15E;
    /* font-variation-settings: 'slnt' -5; */

    text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
}

td form{
    width:20px;
    height:20px;    
}

table, tr, td, th{
    word-wrap: break-word;
}


.table-container{
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

td{
    border:none;
}

table.dataTable thead th {
    border-bottom: 1px solid #111;
}

svg{
    color:black;
    width:20px;
    height:20px;    
}

.icons{
    cursor: pointer;
    
}
.icons:hover {
    /* fill: #DA4567; */
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
}

.add-member-bg{
    width: 160px;
    height: 41px;

    background: #DDAA5E;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    text-decoration: none;
    text-align: center;

    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.add-member-bg:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.add-member{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    margin-top: 10px;
    /* identical to box height */

    color: #FFFFFF;
}

.cont-table{
    margin-bottom:20px;
}

.removeInput{
    height:20px;
}

.deleteTD form{
    width:20px;
    height:20px; 
}

.hideInput{
    visibility: hidden;
    max-height: 0;
    max-width: 0;
}


.hide{
    visibility: hidden;
    max-height: 0;
    max-width: 0;
}
.popover-container{
    position: absolute;
    width: 793px;
    height: 510px;
    left: 395px;
    top: 295px;
}

.popover-header {
    color: blue;
    font-size: 15px;
}
.popover-body {
    color: red;
    font-size: 10px;
}