.GIM-membersCreate{
    margin: auto;
    margin-top: 4%;
    width: 70.6%;
}

.GIM-membersCreate-header{
    margin-left: 4.5%;
    margin-bottom: 4%;
    text-align:center;
    color: #DDA15E;
    font-style: italic;

    text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
}

.GIM-membersCreate-container{
    border: 3px solid #DDA15E;
    padding: 60px 35px 10px;
}

.GIM-membersCreate-container label{
    font-size: 115%;
}

.GIM-membersCreate-container-input input{
    background: #D9D9D9;
    border: 0px;

    width: 332px;
}

.GIM-membersCreate-container-button button{
    width: 179px;
    height: 35px;
    left: 0px;
    top: 0px;

    background: #343A40;
    border:1px;
    border-radius: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;

    color: #FFFFFF;

    margin: 55px 0px 40px 280px;
}

.GIM-membersCreate-container-button input{
    width: 179px;
    height: 35px;
    left: 0px;
    top: 0px;

    background: #343A40;
    border:1px;
    border-radius: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;

    color: #FFFFFF;

    margin: 55px 0px 40px 280px;
}

.GIM-membersCreate-formAllignment{
    display: flex;

    margin-bottom: 17px;
}

.GIM-membersCreate-rightSide{
    margin-left: 50px;
}

.GIM-membersCreate-inputDate{
    margin-left: 50px;
}

.GIM-membersCreate-inputDate input{
    width: 110px;
}

.GIM-membersCreate-membershipSpace{
    margin: 20px 0px;
}

.GIM-membersCreate-inputZipCode input{
    width: 125px;
}

.GIM-membersCreate-goBackLink {
    direction: rtl;

    margin-top: 10px;
}

.GIM-membersCreate-goBackLink a{
    color: black;
    text-decoration-line: none;
}

.GIM-membersCreate-goBackLink a:hover{
    color: black;
    text-decoration-line: none;
}

.errCreate{
    color:red;
}

.head-title{
    font-family: 'Inter';
    /* font-style: italic; */
    font-style: oblique;
    font-weight: lighter;
    font-size: 36px;
    line-height: 44px;

    color: #DDA15E;
    /* font-variation-settings: 'slnt' -5; */

    text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
}


.go-back{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    margin-top: 10px;
    /* identical to box height */

    color: #FFFFFF;
}

.go-back-bg{
    width: 160px;
    height: 41px;

    background: #DDAA5E;
    
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    text-align: center;

    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}


.go-back-bg:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Also used by the Edit page since they are similar*/

/*-----------For some parts in edit page-----------*/
.GIM-membersEdit-statusRadio{
    margin-bottom: 24px;
}

.GIM-membersEdit-statusRadio input{
    margin-left: 0.7%;
    margin-right: 2.5%;
}

/*Will also use the same classes for Employee pages*/

.GIM-employeesCreate-dropListSpace{
    margin: 5px 0px;
}